@import './tailwind.css';

.custom-scrollbar-dark::-webkit-scrollbar {
  @apply w-1.5;
}

.custom-scrollbar-dark::-webkit-scrollbar-track {
  @apply bg-gray-400 rounded-tr-md rounded-br-md;
}

/* Handle */
.custom-scrollbar-dark::-webkit-scrollbar-thumb {
  @apply bg-gray-500 rounded-sm;
}

/* Handle on hover */
.custom-scrollbar-dark:::-webkit-scrollbar-thumb:hover {
  @apply bg-gray-600;
}
